*{
	margin: 0;
	padding: 0;
}
body,html{
	font:14px "微软雅黑";
  height: 100%;
  width: 100%;
}
.warp_container{
	width: 1000px;
	min-width: 750px;
	margin: 0 auto;
	text-align: center;
}
header{
	overflow: hidden;
	line-height: 30px;
	background: rgba(0,0,0,0.6);
}
header nav a{
	display: inline-block;
	width: 25%;
	box-shadow: border-box;
	/*padding: 5px;*/
	/*background: #ffffff;*/
	text-decoration: none;
	color:#ffffff;
	float: left;
}
main{
	height: 300px;
}
aside{
	width: 200px;
	height: 300px;
	float: left;
	background:#909399;
}
.main_right{
	height: 300px;
	background:#F56C6C ;
	
}
section{
	height: 200px;
	background: #409EFF;
}
footer{
	background: #E6A23C;
}
article{
	margin: 20px;
	width: 100%;
	text-indent: 100px;
	background: #67C23A;
	color: #fff;
	/*/////#303133;*/
}
